<a href="https://colab.research.google.com/github/C3Suryansu/Widhya-Winternship/blob/main/Week_1_Movie_Recommendation_Using_Cosine_Similarity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Microtask 1

In [ ]:
import pandas as pd
df_movie = pd.read_csv('https://raw.githubusercontent.com/WidhyaOrg/datasets/master/movie_dataset.csv')
df_movie.head()

   index  ...           director
0      0  ...      James Cameron
1      1  ...     Gore Verbinski
2      2  ...         Sam Mendes
3      3  ...  Christopher Nolan
4      4  ...     Andrew Stanton

[5 rows x 24 columns]

In [ ]:
df_movie.iloc[[14]]['tagline']

14    You will believe that a man can fly.
Name: tagline, dtype: object

#Microtask 2

In [ ]:
final_data = df_movie[['keywords', 'cast', 'genres', 'director']]

In [ ]:
final_data.isnull().sum()

keywords    412
cast         43
genres       28
director     30
dtype: int64

In [ ]:
final_data.fillna("")

                                               keywords  ...           director
0     culture clash future space war space colony so...  ...      James Cameron
1     ocean drug abuse exotic island east india trad...  ...     Gore Verbinski
2            spy based on novel secret agent sequel mi6  ...         Sam Mendes
3     dc comics crime fighter terrorist secret ident...  ...  Christopher Nolan
4     based on novel mars medallion space travel pri...  ...     Andrew Stanton
...                                                 ...  ...                ...
4798  united states\u2013mexico barrier legs arms pa...  ...   Robert Rodriguez
4799                                                     ...       Edward Burns
4800  date love at first sight narration investigati...  ...        Scott Smith
4801                                                     ...        Daniel Hsia
4802               obsession camcorder crush dream girl  ...   Brian Herzlinger

[4803 rows x 4 columns]

In [ ]:
final_data[final_data.columns]

                                               keywords  ...           director
0     culture clash future space war space colony so...  ...      James Cameron
1     ocean drug abuse exotic island east india trad...  ...     Gore Verbinski
2            spy based on novel secret agent sequel mi6  ...         Sam Mendes
3     dc comics crime fighter terrorist secret ident...  ...  Christopher Nolan
4     based on novel mars medallion space travel pri...  ...     Andrew Stanton
...                                                 ...  ...                ...
4798  united states\u2013mexico barrier legs arms pa...  ...   Robert Rodriguez
4799                                                NaN  ...       Edward Burns
4800  date love at first sight narration investigati...  ...        Scott Smith
4801                                                NaN  ...        Daniel Hsia
4802               obsession camcorder crush dream girl  ...   Brian Herzlinger

[4803 rows x 4 columns]

In [ ]:
def combine_feature(df):
  df['comb_data'] = df[df.columns[0:]].apply(
    lambda x: ''.join(x.dropna().astype(str)),
    axis=1)
  return df

In [ ]:
final_data_1 = combine_feature(final_data)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
final_data_1.iloc[1]['comb_data']

"ocean drug abuse exotic island east india trading company love of one's lifeJohnny Depp Orlando Bloom Keira Knightley Stellan Skarsg\\u00e5rd Chow Yun-fatAdventure Fantasy ActionGore Verbinski"

#Microtask 3

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
count_vectorizer = CountVectorizer()
sparse_matrix = count_vectorizer.fit_transform(final_data['comb_data'])

In [ ]:
doc_term_matrix = sparse_matrix.todense()

In [ ]:
df = pd.DataFrame(doc_term_matrix, 
                  columns=count_vectorizer.get_feature_names())

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
print(cosine_similarity(df, df))

[[1.         0.03928371 0.04564355 ... 0.         0.         0.        ]
 [0.03928371 1.         0.         ... 0.0410305  0.         0.        ]
 [0.04564355 0.         1.         ... 0.         0.         0.        ]
 ...
 [0.         0.0410305  0.         ... 1.         0.         0.        ]
 [0.         0.         0.         ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

In [ ]:
print(cosine_similarity(sparse_matrix))

[[1.         0.03928371 0.04564355 ... 0.         0.         0.        ]
 [0.03928371 1.         0.         ... 0.0410305  0.         0.        ]
 [0.04564355 0.         1.         ... 0.         0.         0.        ]
 ...
 [0.         0.0410305  0.         ... 1.         0.         0.        ]
 [0.         0.         0.         ... 0.         1.         0.        ]
 [0.         0.         0.         ... 0.         0.         1.        ]]

#Microtask 4

In [ ]:
def get_index(name, dframe):
  return dframe.index[dframe['title'] == name].tolist()[0]

In [ ]:
get_index('Avatar', df_movie)

0

In [ ]:
def get_title(index, dframe):
  return dframe.iloc[[index]]['title'].values[0]

In [ ]:
get_title(15, df_movie)

'The Chronicles of Narnia: Prince Caspian'

In [ ]:
cosine_sim = cosine_similarity(sparse_matrix)

In [ ]:
movie_query = "Star Wars: Clone Wars: Volume 1" #input("Enter name of movie you want similar recommendations to: ")
ind = get_index(movie_query, df_movie)
similar_movies = []
for i in range(len(cosine_sim[ind])):
  similar_movies.append((i, cosine_sim[ind][i]))
similar_movies = sorted(similar_movies, key = lambda x:x[1], reverse = True)
n = 5 #int(input("Enter number of similar recommendations you would like to have: "))
print("Top {n} movies similar to {movie_query} are: \n".format(n = n, movie_query = movie_query))
for i in range(1, n + 1):
  print(get_title(similar_movies[i][0], df_movie))

Top 5 movies similar to Star Wars: Clone Wars: Volume 1 are:

Atlantis: The Lost Empire
Avatar
The Covenant
The Iron Giant
Space Cowboys